{% extends 'base.html.twig' %}

{% block title %}FAQ
{% endblock %}
{% block description %}Retrouver toutes les réponses aux questions courantes dans la foire aux questions de ScandiCraft !
{% endblock %}

{% block body %}
	<section class="w-section section">

		<div class="w-container">
			<h1>Wiki des ajouts de ScandiCraft</h1>
			<p>
				Ceci est l'ancienne wiki (temporaire)
			</p>

			<div class="top-spc">
				<div
					class="w-embed">
					<!--content-->
					<div class="w-tabs" data-duration-in="300" data-duration-out="100">
						<div class="w-tab-menu">
							<a class="w-tab-link w--current w-inline-block tab" data-w-tab="minerais">
								<div>Minerais</div>
							</a>
							<a class="w-tab-link w-inline-block tab" data-w-tab="armures">
								<div>Armures</div>
							</a>
							<a class="w-tab-link w-inline-block tab" data-w-tab="armes">
								<div>Armes</div>
							</a>
							<a class="w-tab-link w-inline-block tab" data-w-tab="outils">
								<div>Outils</div>
							</a>
							<a class="w-tab-link w-inline-block tab" data-w-tab="autres">
								<div>Autres</div>
							</a>
						</div>
						<div class="w-tab-content tab-content">
							<div class="w-tab-pane w--tab-active" data-w-tab="minerais">
								<legend>
									<b>L'obsidian</b>
								</legend><br>

								<img src="assets/img/wiki/lobsi.png" style="float:right;width:50px;">
								<img src="assets/img/wiki/obsi.png" style="float:left;margin:0 15px 0 0;"><br><br>

								<b>Couche :</b>
								Lac de lave<br>
								<b>Rareté :</b>
								eau + lave<br>
								<b>Couleur :</b>
								Noir.<br>
								<b>Informations :</b>
								Le lingot d'obsidian est le minerais le plus puissant après le diamant. Il faut faire fondre de l'obsidian pour en avoir.<br><br><div class="divider"></div><br>

								<legend>
									<b>Le Lazurite</b>
								</legend><br>

								<img src="assets/img/wiki/llazurite.png" style="float:right;width:50px;">
								<img src="assets/img/wiki/lazurite.png" style="float:left;margin:0 15px 0 0;"><br><br>

								<b>Couche :</b>
								5 à 20.<br>
								<b>Rareté :</b>
								Commun.<br>
								<b>Couleur :</b>
								Bleu.<br>
								<b>Informations :</b>
								Le Lazurite est le minerais le plus puissant après l'obsidian. Il doit se faire fondre.<br><br><div class="divider"></div><br>

								<legend>
									<b>Le Pyrite</b>
								</legend><br>

								<img src="assets/img/wiki/lpyrite.png" style="float:right;width:50px;">
								<img src="assets/img/wiki/pyrite.png" style="float:left;margin:0 15px 0 0;"><br><br>

								<b>Couche :</b>
								2 à 15.<br>
								<b>Rareté :</b>
								Rare.<br>
								<b>Couleur :</b>
								Jaune.<br>
								<b>Informations :</b>
								Le Pyrite est le minerais le plus puissant après le Lazurite. Il ne doit pas se faire fondre.<br><br><div class="divider"></div><br>

								<legend>
									<b>Le Scandium</b>
								</legend><br>

								<img src="assets/img/wiki/lscandium.png" style="float:right;width:50px;">
								<img src="assets/img/wiki/scandium.png" style="float:left;margin:0 15px 0 0;"><br><br>

								<b>Couche :</b>
								1 à 8.<br>
								<b>Rareté :</b>
								Très Rare.<br>
								<b>Couleur :</b>
								Violet.<br>
								<b>Informations :</b>
								Le Scandium est le minerais le plus puissant après le Pyrite. Il ne doit pas se faire fondre.<br>
							</div>
							<div class="w-tab-pane" data-w-tab="armures">
								<center>
									<h3>Armure en Obsidian</h3><br>
									<img src="assets/img/wiki/cobsi.png" style="margin:0 15px 15px 0;">
									<img src="assets/img/wiki/pobsi.png" style="margin:0 15px 15px 0;">
									<img src="assets/img/wiki/jobsi.png" style="margin:0 15px 15px 0;">
									<img src="assets/img/wiki/bobsi.png" style="margin:0 15px 15px 0;">
									<br><div class="divider"></div><br>
									<h3>Armure en Lazurite</h3><br>
									<img src="assets/img/wiki/clazurite.png" style="margin:0 15px 15px 0;">
									<img src="assets/img/wiki/plazurite.png" style="margin:0 15px 15px 0;">
									<img src="assets/img/wiki/jlazurite.png" style="margin:0 15px 15px 0;">
									<img src="assets/img/wiki/blazurite.png" style="margin:0 15px 15px 0;">
									<br><div class="divider"></div><br>
									<h3>Armure en Pyrite</h3><br>
									<img src="assets/img/wiki/cpyrite.png" style="margin:0 15px 15px 0;">
									<img src="assets/img/wiki/ppyrite.png" style="margin:0 15px 15px 0;">
									<img src="assets/img/wiki/jpyrite.png" style="margin:0 15px 15px 0;">
									<img src="assets/img/wiki/bpyrite.png" style="margin:0 15px 15px 0;">
									<br><div class="divider"></div><br>
									<h3>Armure en Scandium</h3><br>
									<img src="assets/img/wiki/cscandium.png" style="margin:0 15px 15px 0;">
									<img src="assets/img/wiki/pscandium.png" style="margin:0 15px 15px 0;">
									<img src="assets/img/wiki/jscandium.png" style="margin:0 15px 15px 0;">
									<img src="assets/img/wiki/bscandium.png" style="margin:0 15px 15px 0;">
								</center>
							</div>
							<div class="w-tab-pane" data-w-tab="armes">
								<center>
									<h3>Armes en Obsidian</h3><br>
									<img src="assets/img/wiki/aobsi.png" style="margin:0 15px 15px 0;">
									<br><div class="divider"></div><br>
									<h3>Armes en Lazurite</h3><br>
									<img src="assets/img/wiki/alazurite.png" style="margin:0 15px 15px 0;">
									<br><div class="divider"></div><br>
									<h3>Armes en Pyrite</h3><br>
									<img src="assets/img/wiki/apyrite.png" style="margin:0 15px 15px 0;">
									<br><div class="divider"></div><br>
									<h3>Armes en Scandium</h3><br>
									<img src="assets/img/wiki/ascandium.png" style="margin:0 15px 15px 0;">
									<br><div class="divider"></div><br>
									<h3>Armes en Scandium</h3><br>
									<img src="assets/img/wiki/abow.png" style="margin:0 15px 15px 0;">
								</center>
							</div>
							<div class="w-tab-pane" data-w-tab="outils">
								<center>
									<h3>Pelle en Scandium / Pyrite / Lazurite / Obsidian</h3><br>
									<img src="assets/img/wiki/pellescandium.png" style="margin:0 15px 15px 0;">
									<br><div class="divider"></div><br>
									<h3>Pioche en Scandium / Pyrite / Lazurite / Obsidian</h3><br>
									<img src="assets/img/wiki/piochescandium.png" style="margin:0 15px 15px 0;">
									<br><div class="divider"></div><br>
									<h3>Hache en Scandium / Pyrite / Lazurite / Obsidian</h3><br>
									<img src="assets/img/wiki/hachescandium.png" style="margin:0 15px 15px 0;">
									<br><div class="divider"></div><br>
									<h3>Houe en Scandium / Pyrite / Lazurite / Obsidian</h3><br>
									<img src="assets/img/wiki/houescandium.png" style="margin:0 15px 15px 0;">
									<br><div class="divider"></div><br>
								</center>
							</div>
							<div class="w-tab-pane" data-w-tab="autres">
								<center>
									<h3>Sceptre de Creeper</h3><br>
									<img src="assets/img/wiki/creeper.png" style="margin:0 15px 15px 0;">
									<br><div class="divider"></div><br>
									<h3>Sceptre de Réparation</h3><br>
									<img src="assets/img/wiki/reparation.png" style="margin:0 15px 15px 0;">
									<br><div class="divider"></div><br>
									<h3>Sceptre d'Agilité</h3><br>
									<img src="assets/img/wiki/agilité.png" style="margin:0 15px 15px 0;">
									<br><div class="divider"></div><br>
									<h3>Echelle en Obsidian</h3><br>
									<img src="assets/img/wiki/hobsi.png" style="margin:0 15px 15px 0;">
									<br><div class="divider"></div><br>
									<h3>Tarte de Pyrite</h3><br>
									<img src="assets/img/wiki/pie_pyrite.png" style="margin:0 15px 15px 0;">
									<br><div class="divider"></div><br>
									<h3>Pain en Lazurite</h3><br>
									<img src="assets/img/wiki/bread_lazurite.png" style="margin:0 15px 15px 0;">
									<br><div class="divider"></div><br>
									<h3>Bloc en Lazurite / Pyrite / Scandium</h3><br>
									<img src="assets/img/wiki/blockscandium.png" style="margin:0 15px 15px 0;">
									<br><div class="divider"></div><br>
									<h3>Coffre en Scandium Shiney</h3><br>
									<img src="assets/img/wiki/scandium_chest.png" style="margin:0 15px 15px 0;">
									<br><div class="divider"></div><br>
									<h3>Pierre d'xp</h3><br>
									<img src="assets/img/wiki/xprune.png" style="margin:0 15px 15px 0;">
									<br><div class="divider"></div><br>
								</center>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
{% endblock %}
