{% extends '_components/page/base_page.twig' %}
{% import "_components/html_component.twig" as html_component %}

{% block title %}Créditer{% endblock %}

{% block page_content %}
    <h2>Acheter des crédits</h2>

    {{ html_component.render("crediter_steps") }}

{#    <a>PayPal</a>#}
{#    <a>PaySafeCard</a>#}
{#    <a>Stripe</a>#}
{#    <a>Dedipass</a>#}

    {#    <div>#}
    {#        {{ html_component.render("payment_paypal") }}#}
    {#        {{ html_component.render("payment_dedipass", [#}
    {#            "data-public_key=" ~ dedipass_public_key,#}
    {#        ]) }}#}
    {#    </div>#}

{% endblock %}