{% extends '_components/page/base_page.twig' %}
{% import "_components/html_component.twig" as html_component %}

{% block title %}Créditer{% endblock %}

{% block page_content %}
    <div class="top-title">
        <div class="title-txt">
            <h3>Acheter des crédits
                {% if app.user %}
                    <span class="sub-title-lighter">/ {{ app.user.username }}, votre solde: {{ app.user.credit }}
                        <i class="fas fa-coins"></i></span>
                {% endif %}
            </h3>
        </div>
        <div class="divider"></div>
    </div>

    {{ html_component.render("crediter_steps", [
        "dedipass_public_key=" ~ dedipass_public_key,
        "stripe_public_key=" ~ stripe_public_key,
        "paypal_public_key=" ~ paypal_public_key,
    ]) }}

    <script type="application/json">
        {
            "payment_types": "{{ payment_types}}"
        }
    </script>
{% endblock %}