{% extends 'base.html.twig' %}

{% block title %}Sondages
{% endblock %}
{% block description %}Liste des sondages dont les joueurs de ScandiCraft peuvent participer pour donner leur avis sur les futurs nouveautés du serveur.
{% endblock %}

{% block body %}

	<section class="w-section section">
		<div class="w-container">
			<div class="w-row">

				<h1>Liste des sondages actifs ({{ sondages|length }})</h1>
				{% for sondage in sondages %}

					<div>
						<div class="top-title">
							<div class="title-txt">
								<h3>{{ sondage.title }}</h3>
							</div>
							<div class="divider"></div>
						</div>
						<div class="info-box">
							<p>
								{{ sondage.description }}
							</p>
							<div class="div-spc">
								{% for answer in sondage.getSurveyAnswers() %}
									<a class="button no-spc" href="#">Some Button</a>
								{% endfor %}
							</div>
						</div>
					</div>

				{% endfor %}
				{{ knp_pagination_render(sondages) }}

			</div>
		</div>

	</section>

{% endblock %}
