{% extends 'base.html.twig' %}

{% block title %}Jouer
{% endblock %}
{% block description %}Téléchargez le launcher pour pouvoir jouer et rejoindre ScandiCraft
{% endblock %}

{% block body %}

	<section class="w-section section">
		<div class="w-container">
			<div class="w-row">






				<div class="w-col w-col-6">
					<div class="top-title">
						<div class="title-txt">
							<h5>Info Box</h5>
						</div>
						<div class="divider"></div>
					</div>
					<div class="info-box">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae.</p>
						<div class="div-spc">
							<a class="button no-spc" href="#">Some Button</a>
						</div>
					</div>
				</div>

<div class="meta-tag">
                        <ul class="w-list-unstyled">
                          <li class="li-top m-space">
                            <div class="meta-cs">
                              <div class="top-ico top-darker">
                                <div class="w-embed"><i class="fa fa-comment"></i>
                                </div>
                              </div>
                              <div class="txt-top txt-last">12 Comments</div>
                            </div>
                          </li>
                          <li class="li-top m-space">
                            <div class="meta-cs">
                              <div class="top-ico top-darker">
                                <div class="w-embed"><i class="fa fa-clock-o"></i>
                                </div>
                              </div>
                              <div class="txt-top txt-last">March 09, 2015</div>
                            </div>
                          </li>
                        </ul>
                      </div>

<div class="w-col w-col-6 w-col-stack">
            <div class="w-clearfix square-box-wrp">
              <div class="square-ico">
                <i class="fa fa-book"></i>
              </div>
              <div class="square-content">
                <h5>Pixel Perfect Design</h5>
                <p class="p-square">Proin faucibus arcu quis ante. Pellentesque commodo eros a enim fusce a quam nunc sed.</p>
              </div>
            </div>
          </div>

          <div>
              <div class="testimonials-wrapper">
                <div>“Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris ut lacus. Proin sapien ipsum, porta a, auctor quis, euismod ut, mi.”</div>
                <div class="arrow-testi"></div>
              </div>
              <div class="name-testi">
                <div>Laura Hill, Envato Inc.</div>
              </div>
            </div>

<div class="divider d-v2"></div>

<div class="w-clearfix pagination-wrapper">
            <a class="w-inline-block pagination p-dark" href="#">
              <div class="w-embed"><i class="fa fa-chevron-left"></i>
              </div>
            </a>
            <a class="w-inline-block pagination" href="#">
              <div>1</div>
            </a>
            <a class="w-inline-block pagination p-active" href="#">
              <div>2</div>
            </a>
            <a class="w-inline-block pagination" href="#">
              <div>3</div>
            </a>
            <a class="w-inline-block pagination" href="#">
              <div>4</div>
            </a>
            <a class="w-inline-block pagination" href="#">
              <div>...</div>
            </a>
            <a class="w-inline-block pagination" href="#">
              <div>11</div>
            </a>
            <a class="w-inline-block pagination" href="#">
              <div>12</div>
            </a>
            <a class="w-inline-block pagination" href="#">
              <div>13</div>
            </a>
            <a class="w-inline-block pagination p-dark" href="#">
              <div class="w-embed"><i class="fa fa-chevron-right"></i>
              </div>
            </a>
          </div>

			</div>
		</div>

	</section>

{% endblock %}
