{% extends 'base.html.twig' %}

{% block title %}Sondages
{% endblock %}
{% block description %}Liste des sondages dont les joueurs de ScandiCraft peuvent participer pour donner leur avis sur les futurs nouveautés du serveur.
{% endblock %}

{% block body %}

	<section class="w-section section">
		<div class="w-container">
			<div class="w-row">





   <h1>Liste des sondages</h1>
    {% for sondage in sondages %}
        <h2>{{ sondage.title }}</h2>
    {% endfor %}
    {{ knp_pagination_render(sondages) }}



			</div>
		</div>

	</section>

{% endblock %}
