<!-- Password Modal -->
<div class="modal fade" id="reset_password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding-right: 0px;">
	<div class="vertical-alignment-helper">
		<div class="modal-dialog vertical-align-center">
			<div class="modal-content">
				<form action="{{ path('ask_reset_password') }}" method="post">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">Vous voulez réinitialiser votre mot de passe ?</h4>
					</div>
					<div class="modal-body">
						<label for="forgotPasswordEmail">{{ 'input.email'|trans }}</label>
						{% if email is defined %}
							<input value="{{ email }}" type="email" name="forgot_email" id="forgotPasswordEmail" class="form-control w-input" required="true">
						{% else %}
							<input type="email" name="forgot_email" id="forgotPasswordEmail" class="form-control w-input" required="true">
						{% endif %}
					</div>
					<div class="modal-footer">
						<button type="button" class="button btn-active" data-dismiss="modal">Annuler</button>
						<button type="submit" class="button">Envoyer</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
