{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
  
  <!-- START SLIDER -->
  <div class="banner">
    <div class="w-slider big-slider" data-animation="cross" data-duration="500" data-infinite="1" data-nav-spacing="5">
      <div class="w-slider-mask">
       <!-- Start Slide 1 -->
        <div class="w-slide slide-1">
          <div class="w-container cont-slider">
            <div class="w-row">
              <div class="w-col w-col-5 slider-content more-spc">
                <div>
                  <h1 class="big-slider-title" data-ix="slide-big-title">Think creative</h1>
                  <h3 class="slider-sub-txt" data-ix="slide-sub-title">we are always working hard</h3>
                  <div class="slider-spc" data-ix="slide-spc"><a class="button no-lft-mrg" href="#">Take a Tour</a><a class="button btn-active" href="#">Purchase Now</a>
                  </div>
                </div>
              </div>
              <div class="w-col w-col-7 cl-center">
                <div class="slider-mascot" data-ix="slide-mascot"><img width="457" src="images/mascot1.png" alt="mascot">
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Slide 1 -->
        
        <!-- Start Slide 2 -->
        <div class="w-slide slide-3">
          <div class="video-wrapper">
            <div class="w-embed embed-video">
              <video autoplay loop>
                <source src="http://3nacu.com/video-background.mp4" type="video/mp4">
                  <source src="http://3nacu.com/video-background.webm" type="video/webm">
                    <img src="http://syddev.com/jquery.videoBG/assets/tunnel_animation.jpg" alt="tunel">
              </video>
            </div>
            <div class="video-overlay">
              <div class="w-container cont-slider in-video">
                <div class="alg-center">
                  <h1 class="big-slider-title big-white" data-ix="slide-big-title">creativity has no boundaries</h1>
                  <h3 class="slider-sub-txt" data-ix="slide-sub-title">welcome to unikue, a multi-purpose template</h3>
                  <div class="slider-spc" data-ix="slide-spc"><a class="button no-lft-mrg" href="#">Take a Tour</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Slide 2 -->
        
        <!-- Start Slide 3 -->
        <div class="w-slide slide-2">
          <div class="w-container cont-slider">
            <div class="w-row">
              <div class="w-col w-col-7 cl-center">
                <div class="slider-mascot" data-ix="slide-mascot"><img width="500" src="images/iPad-Pro-Mockup.png" alt="ipad">
                </div>
              </div>
              <div class="w-col w-col-5 slider-content">
                <div>
                  <h1 class="big-slider-title" data-ix="slide-big-title">Retina ready</h1>
                  <h3 class="slider-sub-txt" data-ix="slide-sub-title">powerful responsive</h3>
                  <div class="slider-spc" data-ix="slide-spc"><a class="button no-lft-mrg" href="#">Take a Tour</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- End Slide 3 -->
      <div class="w-slider-arrow-left arrow-big-sl">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="w-slider-arrow-right arrow-big-sl">
        <div class="w-icon-slider-right"></div>
      </div>
    </div>
  </div>
  <!-- END SLIDER -->
  
  <!-- START SECTION 1 -->
  <section class="w-section section">
   <div class="w-container">
        <div class="w-row">
          <div class="w-col w-col-4">
            <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <div class="ico-flip">
                    <i class="fa fa-rocket"></i>
                  </div>
                  <div class="div-spc">
                    <h5>Fully Documented</h5>
                    <p>Maecenas egestas arcu quis ligula mattis placerat. Duis leo. Vivamus consectetuer hendrerit lacus.</p>
                  </div>
                </div>
                <div class="back">
                  <div>
                    <h5 class="white-orignal">Fully Documented</h5>
                    <p class="white-orignal">Praesent venenatis metus at tortor pulvinar varius. Cras varius. Aenean imperdiet. Praesent adipiscing. Donec vitae sapien ut libero venenatis faucibus.&nbsp;Praesent venenatis metus at tortor.</p>
                  </div>
                  <div class="div-spc"><a class="button btn-transparent" href="#">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-col w-col-4">
            <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <div class="ico-flip">
                    <i class="fa fa-flag"></i>
                  </div>
                  <div class="div-spc">
                    <h5>Quick and Easy</h5>
                    <p>Maecenas egestas arcu quis ligula mattis placerat. Duis leo. Vivamus consectetuer hendrerit lacus.</p>
                  </div>
                </div>
                <div class="back">
                  <div>
                    <h5 class="white-orignal">Quick and Easy</h5>
                    <p class="white-orignal">Praesent venenatis metus at tortor pulvinar varius. Cras varius. Aenean imperdiet. Praesent adipiscing. Donec vitae sapien ut libero venenatis faucibus.&nbsp;Praesent venenatis metus at tortor.</p>
                  </div>
                  <div class="div-spc"><a class="button btn-transparent" href="#">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-col w-col-4">
            <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <div class="ico-flip">
                    <i class="fa fa-trophy"></i>
                  </div>
                  <div class="div-spc">
                    <h5>Award Wining</h5>
                    <p>Maecenas egestas arcu quis ligula mattis placerat. Duis leo. Vivamus consectetuer hendrerit lacus.</p>
                  </div>
                </div>
                <div class="back">
                  <div>
                    <h5 class="white-orignal">Award Wining</h5>
                    <p class="white-orignal">Praesent venenatis metus at tortor pulvinar varius. Cras varius. Aenean imperdiet. Praesent adipiscing. Donec vitae sapien ut libero venenatis faucibus.&nbsp;Praesent venenatis metus at tortor.</p>
                  </div>
                  <div class="div-spc"><a class="button btn-transparent" href="#">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-row div-spc">
          <div class="w-col w-col-4">
            <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <div class="ico-flip">
                    <i class="fa fa-magic"></i>
                  </div>
                  <div class="div-spc">
                    <h5>High Quality</h5>
                    <p>Maecenas egestas arcu quis ligula mattis placerat. Duis leo. Vivamus consectetuer hendrerit lacus.</p>
                  </div>
                </div>
                <div class="back">
                  <div>
                    <h5 class="white-orignal">High Quality</h5>
                    <p class="white-orignal">Praesent venenatis metus at tortor pulvinar varius. Cras varius. Aenean imperdiet. Praesent adipiscing. Donec vitae sapien ut libero venenatis faucibus.&nbsp;Praesent venenatis metus at tortor.</p>
                  </div>
                  <div class="div-spc"><a class="button btn-transparent" href="#">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-col w-col-4">
            <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <div class="ico-flip">
                    <i class="fa fa-paint-brush"></i>
                  </div>
                  <div class="div-spc">
                    <h5>Unlimited Colors</h5>
                    <p>Maecenas egestas arcu quis ligula mattis placerat. Duis leo. Vivamus consectetuer hendrerit lacus.</p>
                  </div>
                </div>
                <div class="back">
                  <div>
                    <h5 class="white-orignal">Unlimited Colors</h5>
                    <p class="white-orignal">Praesent venenatis metus at tortor pulvinar varius. Cras varius. Aenean imperdiet. Praesent adipiscing. Donec vitae sapien ut libero venenatis faucibus.&nbsp;Praesent venenatis metus at tortor.</p>
                  </div>
                  <div class="div-spc"><a class="button btn-transparent" href="#">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-col w-col-4">
            <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <div class="ico-flip">
                    <i class="fa fa-gear"></i>
                  </div>
                  <div class="div-spc">
                    <h5>Wide and Boxed Version</h5>
                    <p>Maecenas egestas arcu quis ligula mattis placerat. Duis leo. Vivamus consectetuer hendrerit lacus.</p>
                  </div>
                </div>
                <div class="back">
                  <div>
                    <h5 class="white-orignal">Wide and Boxed Version</h5>
                    <p class="white-orignal">Praesent venenatis metus at tortor pulvinar varius. Cras varius. Aenean imperdiet. Praesent adipiscing. Donec vitae sapien ut libero venenatis faucibus.&nbsp;Praesent venenatis metus at tortor.</p>
                  </div>
                  <div class="div-spc"><a class="button btn-transparent" href="#">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <!-- END SECTION 1 -->
  
  <!-- START SECTION 2 -->
  <section class="section gray">
    <div class="w-container">
      <div class="top-title">
        <div class="title-txt">
          <h5>Featured Projects <span class="sub-title-lighter">/ Our Best Works</span></h5>
        </div>
        <div class="divider"></div>
      </div>
      <div>
        <div class="w-slider carousel" data-animation="slide" data-duration="500" data-infinite="1">
          <div class="w-slider-mask w-clearfix fp-wrapper">
            <div class="w-slide mix">
              <div class="portfolio-wrapper" data-ix="portfolio-hover">
                <div class="portfolio-top">
                  <div class="portfolio-overlay">
                    <div class="port-ic-wp">
                      <a class="w-inline-block portfolio-ico" href="#" data-ix="move-portfolio-ico">
                        <i class="fa fa-link"></i>
                      </a>
                      <a class="w-inline-block portfolio-ico-zoom" href="images/p11.jpg" data-lightbox="portfolio-1" data-ix="move-portfolio-ico-zoom">
                        <i class="fa fa-search"></i>
                      </a>
                    </div>
                  </div><img src="images/p11.jpg" alt="p11">
                </div><a class="w-inline-block portfolio-bottom" href="#"><h6>Aenean Tellus</h6><div class="sub-txt-portolio">Duis arcu tortor, suscipit</div></a>
              </div>
            </div>
            <div class="w-slide mix">
              <div class="portfolio-wrapper" data-ix="portfolio-hover">
                <div class="portfolio-top">
                  <div class="portfolio-overlay">
                    <div class="port-ic-wp">
                      <a class="w-inline-block portfolio-ico" href="#" data-ix="move-portfolio-ico">
                        <i class="fa fa-link"></i>
                      </a>
                      <a class="w-inline-block portfolio-ico-zoom" href="images/p8.jpg" data-lightbox="portfolio-1" data-ix="move-portfolio-ico-zoom">
                       <i class="fa fa-search"></i>
                      </a>
                    </div>
                  </div><img src="images/p8.jpg" alt="p8">
                </div><a class="w-inline-block portfolio-bottom" href="#"><h6>Quisque Ut</h6><div class="sub-txt-portolio">Nulla sit amet est</div></a>
              </div>
            </div>
            <div class="w-slide mix">
              <div class="portfolio-wrapper">
                <div class="portfolio-top">
                  <div class="w-slider carousel-second" data-animation="slide" data-duration="500" data-infinite="1">
                    <div class="w-slider-mask">
                      <div class="w-slide">
                        <div class="portfolio-top" data-ix="portfolio-hover">
                          <div class="portfolio-overlay">
                            <div class="port-ic-wp">
                              <a class="w-inline-block portfolio-ico" href="#" data-ix="move-portfolio-ico">
                                <i class="fa fa-link"></i>
                              </a>
                              <a class="w-inline-block portfolio-ico-zoom" href="images/p12.jpg" data-lightbox="portfolio-1" data-ix="move-portfolio-ico-zoom">
                                <i class="fa fa-search"></i>
                              </a>
                            </div>
                          </div><img src="images/p12.jpg" alt="p12">
                        </div>
                      </div>
                      <div class="w-slide">
                        <div class="portfolio-top" data-ix="portfolio-hover">
                          <div class="portfolio-overlay">
                            <div class="port-ic-wp">
                              <a class="w-inline-block portfolio-ico" href="#" data-ix="move-portfolio-ico">
                               <i class="fa fa-link"></i>
                              </a>
                              <a class="w-inline-block portfolio-ico-zoom" href="images/p4.jpg" data-lightbox="portfolio-1" data-ix="move-portfolio-ico-zoom">
                               <i class="fa fa-search"></i>
                              </a>
                            </div>
                          </div><img src="images/p4.jpg" alt="p4">
                        </div>
                      </div>
                    </div>
                    <div class="w-slider-arrow-left second-carousel-arrow">
                      <div class="w-icon-slider-left arrow-carousel"></div>
                    </div>
                    <div class="w-slider-arrow-right second-carousel-arrow">
                      <div class="w-icon-slider-right arrow-carousel"></div>
                    </div>
                  </div>
                </div><a class="w-inline-block portfolio-bottom" href="#"><h6>Cras Non</h6><div class="sub-txt-portolio">In hac habitasse platea</div></a>
              </div>
            </div>
            <div class="w-slide mix">
              <div class="portfolio-wrapper" data-ix="portfolio-hover">
                <div class="portfolio-top">
                  <div class="portfolio-overlay">
                    <div class="port-ic-wp">
                      <a class="w-inline-block portfolio-ico" href="#" data-ix="move-portfolio-ico">
                        <i class="fa fa-link"></i>
                      </a>
                      <a class="w-inline-block portfolio-ico-zoom" href="images/p5.jpg" data-lightbox="portfolio-1" data-ix="move-portfolio-ico-zoom">
                       <i class="fa fa-search"></i>
                      </a>
                    </div>
                  </div><img src="images/p5.jpg" alt="p5">
                </div><a class="w-inline-block portfolio-bottom" href="#"><h6>Quam Lobortis</h6><div class="sub-txt-portolio">Maecenas malesuada</div></a>
              </div>
            </div>
            <div class="w-slide mix">
              <div class="portfolio-wrapper" data-ix="portfolio-hover">
                <div class="portfolio-top">
                  <div class="portfolio-overlay">
                    <div class="port-ic-wp">
                      <a class="w-inline-block portfolio-ico" href="#" data-ix="move-portfolio-ico">
                        <i class="fa fa-link"></i>
                      </a>
                      <a class="w-inline-block portfolio-ico-zoom" href="images/p7.jpg" data-lightbox="portfolio-1" data-ix="move-portfolio-ico-zoom">
                       <i class="fa fa-search"></i>
                      </a>
                    </div>
                  </div><img src="images/p7.jpg" alt="p7">
                </div><a class="w-inline-block portfolio-bottom" href="#"><h6>Class Aptent</h6><div class="sub-txt-portolio">Donec pede justo</div></a>
              </div>
            </div>
            <div class="w-slide mix">
              <div class="portfolio-wrapper" data-ix="portfolio-hover">
                <div class="portfolio-top">
                  <div class="portfolio-overlay">
                    <div class="port-ic-wp">
                      <a class="w-inline-block portfolio-ico" href="#" data-ix="move-portfolio-ico">
                        <i class="fa fa-link"></i>
                      </a>
                      <a class="w-inline-block portfolio-ico-zoom" href="images/p2.jpg" data-lightbox="portfolio-1" data-ix="move-portfolio-ico-zoom">
                        <i class="fa fa-search"></i>
                      </a>
                    </div>
                  </div><img src="images/p2.jpg" alt="p2">
                </div><a class="w-inline-block portfolio-bottom" href="#"><h6>Aliquam Eu</h6><div class="sub-txt-portolio">Aenean massa</div></a>
              </div>
            </div>
            <div class="w-slide mix">
              <div class="portfolio-wrapper" data-ix="portfolio-hover">
                <div class="portfolio-top">
                  <div class="portfolio-overlay">
                    <div class="port-ic-wp">
                      <a class="w-inline-block portfolio-ico" href="#" data-ix="move-portfolio-ico">
                        <i class="fa fa-link"></i>
                      </a>
                      <a class="w-inline-block portfolio-ico-zoom" href="images/p6.jpg" data-lightbox="portfolio-1" data-ix="move-portfolio-ico-zoom">
                        <div class="w-embed"><i class="fa fa-search"></i>
                        </div>
                      </a>
                    </div>
                  </div><img src="images/p6.jpg" alt="p6">
                </div><a class="w-inline-block portfolio-bottom" href="#"><h6>Nullam Cursus</h6><div class="sub-txt-portolio">Etiam feugiat lorem</div></a>
              </div>
            </div>
            <div class="w-slide mix">
              <div class="portfolio-wrapper" data-ix="portfolio-hover">
                <div class="portfolio-top">
                  <div class="portfolio-overlay">
                    <div class="port-ic-wp">
                      <a class="w-inline-block portfolio-ico" href="#" data-ix="move-portfolio-ico">
                      <i class="fa fa-link"></i>
                      </a>
                      <a class="w-inline-block portfolio-ico-zoom" href="images/p1.jpg" data-lightbox="portfolio-1" data-ix="move-portfolio-ico-zoom">
                       <i class="fa fa-search"></i>
                      </a>
                    </div>
                  </div><img src="images/p1.jpg" alt="p1">
                </div><a class="w-inline-block portfolio-bottom" href="#"><h6>Cras Ultricies</h6><div class="sub-txt-portolio">Fusce vel dui</div></a>
              </div>
            </div>
          </div>
          <div class="w-slider-arrow-left arrow-car">
            <div class="w-icon-slider-left arrow-carousel"></div>
          </div>
          <div class="w-slider-arrow-right arrow-car">
            <div class="w-icon-slider-right arrow-carousel"></div>
          </div>
        </div>
      </div>
     </div> 
    </section>
   <!-- END SECTION 2 -->
  
  <!-- START SECTION 3 -->
  <section class="w-section section">
    <div class="w-container">
      <div>
        <div class="w-row">
          <div class="w-col w-col-4 w-col-stack col-spc">
            <div class="top-title">
              <div class="title-txt">
                <h5>Last News <span class="sub-title-lighter">/&nbsp;Stuff From Our Blog</span></h5>
              </div>
              <div class="divider"></div>
            </div>
            <div>
              <div class="w-tabs" data-duration-in="300" data-duration-out="100">
                <div class="w-tab-content">
                  <div class="w-tab-pane w--tab-active" data-w-tab="Tab 1">
                    <div class="last-wrapper">
                      <div class="last-top">
                        <div class="w-slider carousel-second" data-animation="slide" data-duration="500" data-infinite="1">
                          <div class="w-slider-mask">
                            <div class="w-slide">
                              <div class="portfolio-top" data-ix="portfolio-hover">
                                <div class="portfolio-overlay">
                                  <div class="port-ic-wp">
                                    <a class="w-inline-block portfolio-ico-zoom" href="images/blog1.jpg" data-lightbox="portfolio-1" data-ix="move-portfolio-ico-zoom">
                                      <div class="w-embed"><i class="fa fa-search"></i>
                                      </div>
                                    </a>
                                  </div>
                                </div><img src="images/blog1.jpg" alt="blog1">
                              </div>
                            </div>
                            <div class="w-slide">
                              <div class="portfolio-top" data-ix="portfolio-hover">
                                <div class="portfolio-overlay">
                                  <div class="port-ic-wp">
                                    <a class="w-inline-block portfolio-ico-zoom" href="images/blog3.jpg" data-lightbox="portfolio-1" data-ix="move-portfolio-ico-zoom">
                                      <div class="w-embed"><i class="fa fa-search"></i>
                                      </div>
                                    </a>
                                  </div>
                                </div><img src="images/blog3.jpg" alt="blog1">
                              </div>
                            </div>
                          </div>
                          <div class="w-slider-arrow-left second-carousel-arrow">
                            <div class="w-icon-slider-left arrow-carousel"></div>
                          </div>
                          <div class="w-slider-arrow-right second-carousel-arrow">
                            <div class="w-icon-slider-right arrow-carousel"></div>
                          </div>
                        </div>
                      </div>
                      <div class="last-bottom">
                        <h6><a class="last-title" href="#">Aenean Ut Eros Et</a></h6>
                      </div>
                      <div class="meta-tag">
                        <ul class="w-list-unstyled">
                          <li class="li-top m-space">
                            <div class="meta-cs">
                              <div class="top-ico top-darker">
                                <div class="w-embed"><i class="fa fa-comment"></i>
                                </div>
                              </div>
                              <div class="txt-top txt-last">12 Comments</div>
                            </div>
                          </li>
                          <li class="li-top m-space">
                            <div class="meta-cs">
                              <div class="top-ico top-darker">
                                <div class="w-embed"><i class="fa fa-clock-o"></i>
                                </div>
                              </div>
                              <div class="txt-top txt-last">March 09, 2015</div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="w-tab-pane" data-w-tab="Tab 2">
                    <div class="last-wrapper">
                      <div class="last-top">
                        <div class="portfolio-top" data-ix="portfolio-hover">
                          <div class="portfolio-overlay">
                            <div class="port-ic-wp">
                              <a class="w-inline-block portfolio-ico-zoom" href="images/blog2.jpg" data-lightbox="portfolio-1" data-ix="move-portfolio-ico-zoom">
                                <div class="w-embed"><i class="fa fa-search"></i>
                                </div>
                              </a>
                            </div>
                          </div><img src="images/blog2.jpg" alt="blog2">
                        </div>
                      </div>
                      <div class="last-bottom">
                        <h6><a class="last-title" href="#">Sed aliquam ultrices mauris</a></h6>
                      </div>
                      <div class="meta-tag">
                        <ul class="w-list-unstyled">
                          <li class="li-top m-space">
                            <div class="meta-cs">
                              <div class="top-ico top-darker">
                                <div class="w-embed"><i class="fa fa-comment"></i>
                                </div>
                              </div>
                              <div class="txt-top txt-last">12 Comments</div>
                            </div>
                          </li>
                          <li class="li-top m-space">
                            <div class="meta-cs">
                              <div class="top-ico top-darker">
                                <div class="w-embed"><i class="fa fa-clock-o"></i>
                                </div>
                              </div>
                              <div class="txt-top txt-last">March 09, 2015</div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="w-tab-pane" data-w-tab="Tab 3">
                    <div class="last-wrapper">
                      <div class="last-top">
                        <div class="portfolio-top" data-ix="portfolio-hover">
                          <div class="portfolio-overlay">
                            <div class="port-ic-wp">
                              <a class="w-inline-block portfolio-ico-zoom" href="images/blog3.jpg" data-lightbox="portfolio-1" data-ix="move-portfolio-ico-zoom">
                                <div class="w-embed"><i class="fa fa-search"></i>
                                </div>
                              </a>
                            </div>
                          </div><img src="images/blog3.jpg" alt="blog3">
                        </div>
                      </div>
                      <div class="last-bottom">
                        <h6><a class="last-title" href="#">In ac felis Ispun</a></h6>
                      </div>
                      <div class="meta-tag">
                        <ul class="w-list-unstyled">
                          <li class="li-top m-space">
                            <div class="meta-cs">
                              <div class="top-ico top-darker">
                                <div class="w-embed"><i class="fa fa-comment"></i>
                                </div>
                              </div>
                              <div class="txt-top txt-last">12 Comments</div>
                            </div>
                          </li>
                          <li class="li-top m-space">
                            <div class="meta-cs">
                              <div class="top-ico top-darker">
                                <div class="w-embed"><i class="fa fa-clock-o"></i>
                                </div>
                              </div>
                              <div class="txt-top txt-last">March 09, 2015</div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-tab-menu w-clearfix last-tab">
                  <div class="blog-seperator"></div>
                  <a class="w-tab-link w--current w-inline-block blog-tab" data-w-tab="Tab 1"><img src="images/blog1.jpg" alt="blog1">
                  </a>
                  <a class="w-tab-link w-inline-block blog-tab" data-w-tab="Tab 2"><img src="images/blog2.jpg" alt="blog2">
                  </a>
                  <a class="w-tab-link w-inline-block blog-tab tab-no-spc" data-w-tab="Tab 3"><img src="images/blog3.jpg" alt="blog3">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="w-col w-col-4 w-col-stack col-spc">
            <div class="top-title">
              <div class="title-txt">
                <h5>Why Choose Us&nbsp;<span class="sub-title-lighter">/&nbsp;We'll Tell You</span></h5>
              </div>
              <div class="divider"></div>
            </div>
            <div class="w-embed">
              <div class="accordion">
                <!-- Accordion 1 -->
                <h3><span class="ui-accordion-header-icon ui-icon ui-accordion-icon ui-accordion-icon-active"></span>Accordion #1</h3>
                <div>
                  <p>Mauris mauris ante, blandit et, ultrices a, susceros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate aliquam egestas litora torquent conubia.</p>
                </div>
                <!-- Accordion 2 -->
                <h3><span class="ui-accordion-header-icon ui-icon ui-accordion-icon"></span>Accordion #2</h3>
                <div>
                  <p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. Nullam laoreet, velit ut taciti sociosqu condimentum feugiat.</p>
                </div>
                <!-- Accordion 3 -->
                <h3><span class="ui-accordion-header-icon ui-icon ui-accordion-icon"></span>Accordion #3</h3>
                <div>
                  <p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="w-col w-col-4 w-col-stack">
            <div class="top-title">
              <div class="title-txt">
                <h5>Testimonials&nbsp;<span class="sub-title-lighter">/ What Our Clients Think</span></h5>
              </div>
              <div class="divider"></div>
            </div>
            <div>
              <div class="w-slider carousel-second" data-animation="outin" data-duration="500" data-infinite="1" data-delay="6000" data-autoplay="1">
                <div class="w-slider-mask mask">
                  <div class="w-slide">
                    <div class="spc-btm">
                      <div class="testimonials-wrapper">
                        <div>“Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus. Phasellus dolor. Cras sagittis. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.”</div>
                        <div class="arrow-testi"></div>
                      </div>
                      <div class="name-testi">
                        <div>John Doe, Google Inc.</div>
                      </div>
                    </div>
                    <div>
                      <div class="testimonials-wrapper">
                        <div>“Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris ut lacus. Proin sapien ipsum, porta a, auctor quis, euismod ut, mi.”</div>
                        <div class="arrow-testi"></div>
                      </div>
                      <div class="name-testi">
                        <div>Laura Hill, Envato Inc.</div>
                      </div>
                    </div>
                  </div>
                  <div class="w-slide">
                    <div class="spc-btm">
                      <div class="testimonials-wrapper">
                        <div>“Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo. Vestibulum suscipit nulla quis orci. Donec mi odio, faucibus at, scelerisque quis, convallis in, nisi. Nullam dictum felis eu pede mollis pretium.”</div>
                        <div class="arrow-testi"></div>
                      </div>
                      <div class="name-testi">
                        <div>Dany Great, Moutheme Inc.</div>
                      </div>
                    </div>
                    <div>
                      <div class="testimonials-wrapper">
                        <div>“Praesent turpis. Vestibulum eu odio. Aenean ut eros et nisl sagittis vestibulum. Morbi vestibulum volutpat enim. Etiam ultricies nisi vel augue.”</div>
                        <div class="arrow-testi"></div>
                      </div>
                      <div class="name-testi">
                        <div>Alzo White, Facebook Inc.</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END SECTION 3 -->
  
   <!-- START SECTION 4 -->
  <section class="w-section section parallax" data-stellar-background-ratio="0.5">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-3">
          <div class="fun-f-wrapper">
            <div class="fun-fact-ico">
              <div class="w-embed"><i class="fa fa-user"></i>
              </div>
            </div>
            <div class="fun-txt">
              <h2 class="txt-f">13000+</h2>
              <div class="small-f">Happy Clients</div>
            </div>
          </div>
        </div>
        <div class="w-col w-col-3">
          <div class="fun-f-wrapper">
            <div class="fun-fact-ico">
              <div class="w-embed"><i class="fa fa-star"></i>
              </div>
            </div>
            <div class="fun-txt">
              <h2 class="txt-f">15</h2>
              <div class="small-f">Years in Business</div>
            </div>
          </div>
        </div>
        <div class="w-col w-col-3">
          <div class="fun-f-wrapper">
            <div class="fun-fact-ico">
              <div class="w-embed"><i class="fa fa-coffee"></i>
              </div>
            </div>
            <div class="fun-txt">
              <h2 class="txt-f">352</h2>
              <div class="small-f">Cups of Coffee</div>
            </div>
          </div>
        </div>
        <div class="w-col w-col-3">
          <div class="fun-f-wrapper">
            <div class="fun-fact-ico">
              <div class="w-embed"><i class="fa fa-bar-chart"></i>
              </div>
            </div>
            <div class="fun-txt">
              <h2 class="txt-f">145</h2>
              <div class="small-f">High Score</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END SECTION 4 -->
  
  <!-- START SECTION 5 -->
  <section class="w-section section">
  <div class="w-container">
        <div>
        <div class="top-title">
          <div class="title-txt">
            <h5>Our Clients&nbsp;<span class="sub-title-lighter">/ we love our customers</span></h5>
          </div>
          <div class="divider"></div>
        </div>
        <div class="gray-lg">
          <div class="w-slider carousel" data-animation="slide" data-duration="500" data-infinite="1">
            <div class="w-slider-mask">
              <div class="w-slide logo-wrapper">
                <a class="w-inline-block lg" href="#"><img class="tooltip-2" width="180" src="images/logo-1.png" title="Snack" alt="Snack">
                </a>
              </div>
              <div class="w-slide logo-wrapper">
                <a class="w-inline-block lg" href="#"><img class="tooltip-2" width="180" src="images/logo-2.png" title="Barq" alt="Barq">
                </a>
              </div>
              <div class="w-slide logo-wrapper">
                <a class="w-inline-block lg" href="#"><img class="tooltip-2" width="180" src="images/logo-3.png" title="Crowd" alt="Crowd">
                </a>
              </div>
              <div class="w-slide logo-wrapper">
                <a class="w-inline-block lg" href="#"><img class="tooltip-2" width="180" src="images/logo-4.png" title="Marketi" alt="Marketi">
                </a>
              </div>
              <div class="w-slide logo-wrapper">
                <a class="w-inline-block lg" href="#"><img class="tooltip-2" width="180" src="images/logo-5.png" title="Mohula" alt="Mohula">
                </a>
              </div>
              <div class="w-slide logo-wrapper">
                <a class="w-inline-block lg" href="#"><img class="tooltip-2" width="180" src="images/logo-6.png" title="Smack" alt="Smack">
                </a>
              </div>
              <div class="w-slide logo-wrapper">
                <a class="w-inline-block lg" href="#"><img class="tooltip-2" width="180" src="images/logo-3.png" title="Crowd" alt="Crowd">
                </a>
              </div>
              <div class="w-slide logo-wrapper">
                <a class="w-inline-block lg" href="#"><img class="tooltip-2" width="180" src="images/logo-1.png" title="Transfer" alt="Transfer">
                </a>
              </div>
              <div class="w-slide logo-wrapper">
                <a class="w-inline-block lg" href="#"><img class="tooltip-2" width="180" src="images/logo-8.png" title="Microsoft" alt="Microsoft">
                </a>
              </div>
              <div class="w-slide logo-wrapper">
                <a class="w-inline-block lg" href="#"><img class="tooltip-2" width="180" src="images/logo-7.png" title="Swords" alt="Swords">
                </a>
              </div>
            </div>
            <div class="w-slider-arrow-left arrow-car">
              <div class="w-icon-slider-left arrow-carousel"></div>
            </div>
            <div class="w-slider-arrow-right arrow-car">
              <div class="w-icon-slider-right arrow-carousel"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END SECTION 5 -->

{% endblock %}