{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<section>

		{% set links %}<a href="{{ path('accueil') }}">Accueil</a>
		{% endset %}

		{% include 'blocks/sub-banner.html.twig' with {
			'title': 'Bienvenue sur notre site !',
			'sub_title': '(version développement)',
			'links': links,
		} %}


		<section class="w-section section">
			<div class="w-container">
				<div class="w-row">
					<div class="w-col w-col-6 col-spc">
						<div>
							<div class="top-title">
								<div class="title-txt">
									<h2>Progression du développement</h2>
								</div>
								<div class="divider"></div>
							</div>
							<div>

								<div class="fun-wrapper">
									<span>Client (Minecraft):
										<b>5%</b>
									</span>
									<div class="fine-line">
										<div class="fine-line-content" style="width: 5%;">
											<div></div>
										</div>
									</div>
								</div>
								<div class="fun-wrapper">
									<span>Serveur (Spigot):
										<b>5%</b>
									</span>
									<div class="fine-line">
										<div class="fine-line-content" style="width: 5%;">
											<div></div>
										</div>
									</div>
								</div>
								<div class="fun-wrapper">
									<span>Site internet:
										<b>10%</b>
									</span>
									<div class="fine-line">
										<div class="fine-line-content" style="width: 10%;">
											<div></div>
										</div>
									</div>
								</div>
								<div class="fun-wrapper">
									<span>Launcher (Lanceur):
										<b>0%</b>
									</span>
									<div class="fine-line">
										<div class="fine-line-content" style="width: 0%;visibility:hidden;">
											<div></div>
										</div>
									</div>
								</div>
								<div class="fun-wrapper">
									<span>Autres (Logo,Spawn,Build):
										<b>0%</b>
									</span>
									<div class="fine-line">
										<div class="fine-line-content" style="width: 0%;visibility:hidden;">
											<div></div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


	</section>

{% endblock %}
