{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<section>

		{% set links %}<a href="{{ path('accueil') }}">Accueil</a>
		{% endset %}

		{% include 'blocks/sub-banner.html.twig' with {
			'title': 'Bienvenue sur notre site !',
			'sub_title': '(version développement)',
			'links': links,
		} %}

		<section class="w-section section">
			<div class="w-container">
				<div class="w-row">

					<div class="w-col col-spc" style="color: gray;">
						<h4>Le site est en cours de développement. C'est tout à fait normal que certaines fonctionnalités ne sont pas encore disponible !</h4>
						<h4>Si vous êtes un ancien joueur, vous devez vous <b style="color: #b30000;">réinscrire</b>!</h4>
					</div>

					{% include 'maintenance/pourcentage.html.twig' %}

				</div>
			</div>
		</section>


	</section>

{% endblock %}
