{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<section>

		{% set links %}<a href="{{ path('accueil') }}">Accueil</a>{% endset %}

		{% include 'blocks/sub-banner.html.twig' with {
			'title': 'Bienvenue sur notre site !',
			'sub_title': '(version test)',
			'links': links,
		} %}

		home page

		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
	</section>

{% endblock %}
