{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<section>
		<div class="sub-banner">
			<div class="w-container">
				<div class="w-row">
					<div class="w-col w-col-6">
						<h4 class="title-bread">
              Bienvenue sur notre site !
							<span class="sub-title-lighter"> (version test)
								<br></span>
						</h4>
					</div>
					<div class="w-col w-col-6 col-right">
						<div class="breadcrumbs">
							<a href="{{ path('accueil') }}">Accueil</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		home page

		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
	</section>

{% endblock %}
