
# Symfony
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

# symfony/phpunit-bridge
.phpunit
.phpunit.result.cache
/phpunit.xml

# BriceFab
composer.json
symfony.lock
*.log