{% extends 'base.html.twig' %}

{% block title %}Spoils
{% endblock %}
{% block description %}Liste des spoils / nouveautés qui seront disponibles sur le serveur Minecraft ScandiCraft.
{% endblock %}

{% block body %}

	<section class="w-section section">
		<div class="w-container">
			<div class="w-row">

				{% if spoils|length > 0 %}

					{% for spoil in spoils %}

						{% include "spoils/spoil.html.twig" with { 'spoil': spoil } %}

					{% endfor %}

				{% else %}
					<h1>Aucun spoil actuellement</h1>
					<p>
						Revenez plus tard.
					</p>
				{% endif %}

			</div>

		</div>

	</section>
{% endblock %}
