{% extends 'base.html.twig' %}

{% block title %}Spoil et nouveautés:
	{{ spoil.title }}
{% endblock %}
{% block description %}Spoil Minecraft Faction:
	{{ spoil.description }}
{% endblock %}

{# edit meta image #}
{% block meta_image %}
	{% set spoil_image_path = app.request.schemeAndHttpHost ~ spoils_images_path ~ '/' ~ spoil.image %}
	<meta property="og:image" content="{{ spoil_image_path }}"/>
{% endblock %}

{% block body %}

	<section class="w-section section">
		<div class="w-container">
			<div class="w-row">

				{% include "spoils/spoil.html.twig" with {'spoil': spoil, 'showMore': false } %}
				{{ spoil.description|raw }}

			</div>

			{# survey_archived #}
			<ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-1457190527508329" data-ad-slot="7669320152"></ins>
			<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
			</script>

		</div>

	</section>

{% endblock %}
