<form action="{{ path('forum_new_answer', { 'main_slug': category.slug, 'sub_slug': subCategory.slug, 'discussion_slug': discussion.slug }) }}" method="POST">

	<label>Ajouter un message:</label>

	{% set config = {
		'imageUploadUrl': path('forum_add_images', { 'main_slug': category.slug, 'sub_slug': subCategory.slug, 'discussion_slug': discussion.slug }),
		"input_result_name": "editor_result",
		"maxCharCount": 300,
		}|json_encode() %}

	{% include "form/fields/editor.html.twig" with { 'config': config} %}

	<div class="row" style="padding-left:7px;margin-top:15px;">
		<button type="submit" class="button" name="Submit">
			Poster
		</button>
	</div>

</form>
