@import "../../../styles/colors";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.step_shower {
  cursor: pointer;
  padding: 8px 10px;
  margin-bottom: 15px;
  border: 1px gray solid;
  border-radius: 3px;
}

.step_shower_current {
  font-weight: bold;
  background-color: $mainColor;
  color: white;
  border: none;
}

.step_disabled {
  cursor: default;
  color: grey;
  border: 1px lightgray solid;
}

//Step 0
.step_payments_choices_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.step_payments_choice_box {
  $size: 200px;

  position: relative;
  width: $size;
  height: $size;
  cursor: pointer;

  background-color: white;
  color: $mainColor;
  border: 1px rgba($mainColor, 0.4) solid;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 25px;
  margin-bottom: 25px;
}

.step_payments_choice_text_container {
  text-align: center;
}

.step_payments_choice_box:hover {
  background-color: $mainColor;
  color: white;
  border: none;
  padding: 5px;

  .step_payments_choice_text_name {
    opacity: 0;
    height: 0;
  }

  .step_payments_choice_text_help {
    opacity: 1;
    transition: all .3s ease-out;
    height: auto;
  }
}

.step_payments_choice_text_name {
  font-weight: bold;
  font-size: 1.5em;
  opacity: 1;
  height: auto;
}

.step_payments_choice_text_help {
  font-size: 1.4em;
  opacity: 0;
  height: 0;
}

.step_payment_title {
  font-size: 1.4em;
  margin-bottom: 15px;
}

//Mobile
@include media-breakpoint-down(md) {
  .step_payments_choice_box {
    $size: 120px;

    width: $size;
    height: $size;

    margin-right: 15px;
    margin-bottom: 15px;
  }

  .step_payments_choice_text_name {
    font-size: 1.1em;
  }

  .step_payments_choice_text_help {
    font-size: 1em;
  }

  .step_payment_title {
    font-size: 1.2em;
  }
}