<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>{{ server_name }} - Admin</title>
        <meta name="author" content="ScandiCraft" />
	</head>
	<body>
		<div id="scandicraft_admin"></div>
		{{ encore_entry_script_tags('admin_app') }}
	</body>
</html>