{% extends 'base.html.twig' %}

{% block body %}
    <section class="w-section section">
        <div class="w-container">
            <div class="w-row">
                {% block page_content %}
                {% endblock %}
            </div>
        </div>
    </section>
{% endblock %}