{% extends 'base.html.twig' %}

{% block title %}Jouer
{% endblock %}
{% block description %}Téléchargez le launcher pour pouvoir jouer et rejoindre ScandiCraft
{% endblock %}

{% block body %}

	<section class="w-section section">
		<div class="w-container">
			<div class="w-row">

				<h1>Joue avec nous !</h1>
				<p class="p_jouer">Sélectionne ton système d'exploitation (windows, mac ou linux) et viens jouer avec nous !</p>

				<div class="container" style="text-align:center;">
					<div class="row">
						<div class="col-12 col-sm-4">
							<a href="{{ path('maintenances') }}">
								<i class="fab fa-windows download_system" style="padding:25px 33px 25px 32px;margin-bottom:25px;"></i>
							</a>
						</div>
						<div class="col-12 col-sm-4">
							<a href="{{ path('maintenances') }}">
								<i class="fab fa-apple download_system" style="padding:25px 40px 25px 40px;margin-bottom:25px;"></i>
							</a>
						</div>
						<div class="col-12 col-sm-4">
							<a href="{{ path('maintenances') }}">
								<i class="fab fa-linux download_system" style="padding:25px 32px 25px 33px;margin-bottom:25px;"></i>
							</a>
						</div>
					</div>
				</div>

				{% if maintenance_service.count_maintenances() > 0 %}
					<p>
						Certains de nos services sont en maintenance:
						<a href="{{ path('maintenances') }}" class="link_maintenances">voir plus de détails</a>.
					</p>
				{% endif %}

				<h1 style="margin-top: 45px;">Rejoins-nous !</h1>
				<p>Disscutez avec la communauté de ScandiCraft et suivez les actualités.</p>
				<li class="li-social jouer">
					<div class="w-clearfix social-wrapper">
						{% include "blocks/social_media.html.twig" with { 'a_class': 'jouer_social', 'embed_class': 'jouer_social_content' } %}
					</div>
				</li>
			</div>
		</div>

	</section>

{% endblock %}
