<!-- FOOTER -->
<footer class="main-footer">
	<div class="bottom-footer">
		<div class="w-container">
			<div class="w-row">
				<div class="w-col w-col-10 w-col-stack" style="text-align:left;">
					<p class="copyright">{{ site_copyright }}</p>
				</div>
				<div class="w-col w-col-2 w-col-stack" style="text-align:right;">
					<div>
						<div class="w-clearfix social-wrapper s-footer">
							{% include "blocks/social_media.html.twig" with { 'a_class': 'social-footer' } %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- END FOOTER -->