  <!-- FOOTER --> 
  <footer class="footer">
    <div class="bottom-footer">
      <div class="w-container">
        <div class="w-row">
          <div class="w-col w-col-4 w-col-stack">
            <p class="copyright">© Copyright Unikue 2015. All Rights Reserved.</p>
          </div>
          <div class="w-col w-col-8 w-col-stack">
            <div>
              <div class="w-clearfix social-wrapper s-footer">
                <a class="w-inline-block social-ico social-footer google-plus tooltip-2" href="#" title="Google Plus">
                  <div class="w-embed"><i class="fa fa-google-plus"></i>
                  </div>
                </a>
                <a class="w-inline-block social-ico social-footer tooltip-2 tumblr" href="#" title="Tumblr">
                  <div class="w-embed"><i class="fa fa-tumblr"></i>
                  </div>
                </a>
                <a class="w-inline-block social-ico social-footer yahoo tooltip-2" href="#" title="Yahoo">
                  <div class="w-embed"><i class="fa fa-yahoo"></i>
                  </div>
                </a>
                <a class="w-inline-block social-ico social-footer instagram tooltip-2" href="#" title="Instagram">
                  <div class="w-embed"><i class="fa fa-instagram"></i>
                  </div>
                </a>
                <a class="w-inline-block social-ico social-footer linkedin tooltip-2" href="#" title="LinkedIn">
                  <div class="w-embed"><i class="fa fa-linkedin"></i>
                  </div>
                </a>
                <a class="w-inline-block social-ico social-footer pinterest tooltip-2" href="#" title="Pinterest">
                  <div class="w-embed"><i class="fa fa-pinterest-p"></i>
                  </div>
                </a>
                <a class="w-inline-block social-ico social-footer rss tooltip-2" href="#" title="Rss">
                  <div class="w-embed"><i class="fa fa-rss"></i>
                  </div>
                </a>
                <a class="w-inline-block social-ico social-footer twitter tooltip-2" href="#" title="Twitter">
                  <div class="w-embed"><i class="fa fa-twitter"></i>
                  </div>
                </a>
                <a class="w-inline-block social-ico social-footer facebook tooltip-2 tumblr" href="#" title="Facebook">
                  <div class="w-embed"><i class="fa fa-facebook"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- END FOOTER -->