<!-- FOOTER -->
<footer class="main-footer">
	<div class="bottom-footer">
		<div class="w-container">
			<div class="w-row">
				<div class="w-col w-col-10 w-col-stack" style="text-align:left;">
					<p class="copyright">{{ site_copyright }}</p>
				</div>
				<div class="w-col w-col-2 w-col-stack" style="text-align:right;">
					<div>
						<div class="w-clearfix social-wrapper s-footer">
							<a class="w-inline-block social-ico social-footer twitter tooltip-2" href="//{{ twitter_link }}" title="Twitter" target="_blank">
								<div class="w-embed">
									<i class="fab fa-twitter"></i>
								</div>
							</a>
							<a class="w-inline-block social-ico social-footer discord tooltip-2" href="//{{ discord_link }}" title="Discord" target="_blank">
								<div class="w-embed">
									<i class="fab fa-discord"></i>
								</div>
							</a>
							<a class="w-inline-block social-ico social-footer youtube tooltip-2" href="//{{ youtube_link }}" title="Youtube" target="_blank">
								<div class="w-embed">
									<i class="fab fa-youtube"></i>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- END FOOTER -->