<!-- FOOTER -->
<footer class="main-footer">
	<div class="bottom-footer">
		<div class="w-container">
			<div class="w-row">
				<div class="w-col w-col-4 w-col-stack">
					<p class="copyright">{{ site_copyright }}</p>
				</div>
				<div class="w-col w-col-8 w-col-stack">
					<div>
						<div class="w-clearfix social-wrapper s-footer">
							<a class="w-inline-block social-ico social-footer twitter tooltip-2" href="//twitter.fr/ScandiCraftServ" title="Twitter" target="_blank">
								<div class="w-embed">
									<i class="fa fa-twitter"></i>
								</div>
							</a>
							<a class="w-inline-block social-ico social-footer youtube tooltip-2" href="//youtube.fr/user/BriceFab123" title="Youtube" target="_blank">
								<div class="w-embed">
									<i class="fa fa-youtube"></i>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- END FOOTER -->