<!-- START HEADER -->
<header class="header-v1">
	<div
		class="top-header">
		<!-- Top Header -->
		<div class="w-container">
			<div class="top-left">
				<ul class="w-list-unstyled">
					<li class="li-top m-space li-top-right">
						<div class="top-ico">
							<i class="fa fa-spinner fa-spin"></i>
						</div>
						<div class="txt-top">0 connectés</div>
					</li>
					<li class="li-top m-space li-top-right">
						<div class="top-ico">
							<i class="fa fa-user"></i>
						</div>
						<div class="txt-top">0 inscrits</div>
					</li>
				</ul>
			</div>
			<div class="top-right">
				<ul class="w-list-unstyled">
					<li class="li-top">
						<a href="/web/20160322182606/http://scandicraft.net/users/login">
							<div class="top-link">
								<div class="top-ico">
									<i class="fa fa-lock"></i>
								</div>
								<div class="txt-top">Se connecter</div>
							</div>
						</a>
					</li>
					<li class="li-top">
						<a href="/web/20160322182606/http://scandicraft.net/users/register">
							<div class="top-link">
								<div class="top-ico">
									<i class="fa fa-sign-in"></i>
								</div>
								<div class="txt-top">S'enregister</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- End Top Header -->

	{% include 'blocks/nav.html.twig' %}

</header>
<!-- END HEADER -->
