  <!-- START HEADER -->
  <header class="header-v1">
    <div class="top-header"><!-- Top Header -->
      <div class="w-container">
        <div class="top-left">
          <ul class="w-list-unstyled">
            <li class="li-top m-space">
              <div class="top-ico">
               <i class="fa fa-phone"></i>
              </div>
              <div class="txt-top">(123) 456-7890</div>
            </li>
            <li class="li-top">
              <a class="w-inline-block top-link" href="#">
                <div class="top-ico">
                  <i class="fa fa-angle-right"></i>
                </div>
                <div class="txt-top">About Us</div>
              </a>
            </li>
            <li class="li-top">
              <a class="w-inline-block top-link" href="#">
                <div class="top-ico">
                  <i class="fa fa-angle-right"></i>
                </div>
                <div class="txt-top">Contact</div>
              </a>
            </li>
          </ul>
        </div>
        <div class="top-right">
          <ul class="w-list-unstyled">
            <li class="li-top">
              <div class="top-link t-nhover">
                <div class="top-ico">
                  <i class="fa fa-clock-o"></i>
                </div>
                <div class="txt-top">Mon - Sat: 7:00 - 17:00</div>
              </div>
            </li>
            <li class="li-top">
              <a class="w-inline-block" href="#">
              <img class="tooltip-2" width="24" src="images/denmark.png" title="Danish" alt="denmark">
              </a>
            </li>
            <li class="li-top">
              <a class="w-inline-block" href="#">
              <img class="tooltip-2" width="24" src="images/english.png" title="English" alt="english">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div><!-- End Top Header -->
    
    <!-- Start Bottom Header -->
    <div class="bottom-header">
      <div class="w-container">
        <a class="w-inline-block hamburger" href="#" data-ix="show-navigation-menu"></a>
        <a class="w-inline-block brand-logo" href="index.html"><img class="tooltip" width="110" src="images/Unikue-Logo.png" title="It's time to impress your visitors!" alt="Unikue Logo">
        </a>
        <!-- Navigation -->
        <nav class="navigation">
          <ul class="w-list-unstyled">
            <li class="li-menu" data-ix="show-dropdown">
              <a class="w-inline-block link-menu active" href="#">
                <div>Home</div>
              </a>
              <ul class="w-list-unstyled dropdown-menu">
                <li class="li-drop">
                  <a class="w-inline-block dd-link" href="index.html" data-ix="move-txt-dropdown">
                    <div class="dd-txt">Home Style 1</div>
                  </a>
                </li>
                <li class="li-drop">
                  <a class="w-inline-block dd-link" href="home-2.html" data-ix="move-txt-dropdown">
                    <div class="dd-txt">Home Style 2</div>
                  </a>
                </li>
                <li class="li-drop">
                  <a class="w-inline-block dd-link" href="home-3.html" data-ix="move-txt-dropdown">
                    <div class="dd-txt">Home Style 3</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="li-menu" data-ix="show-dropdown">
              <a class="w-inline-block link-menu" href="#">
                <div>Pages</div>
              </a>
              <ul class="w-list-unstyled dropdown-menu">
                <li class="li-drop">
                  <a class="w-inline-block dd-link" href="about.html" data-ix="move-txt-dropdown">
                    <div class="dd-txt">About Us</div>
                  </a>
                </li>
                <li class="li-drop">
                  <a class="w-inline-block dd-link" href="services.html" data-ix="move-txt-dropdown">
                    <div class="dd-txt">Services</div>
                  </a>
                </li>
                <li class="li-drop">
                  <a class="w-inline-block dd-link" href="our-team.html" data-ix="move-txt-dropdown">
                    <div class="dd-txt">Our Team</div>
                  </a>
                </li>
                <li class="li-drop">
                  <a class="w-inline-block dd-link" href="testimonials.html" data-ix="move-txt-dropdown">
                    <div class="dd-txt">Testimonials</div>
                  </a>
                </li>
                <li class="li-drop">
                  <a class="w-inline-block dd-link" href="process.html" data-ix="move-txt-dropdown">
                    <div class="dd-txt">Process</div>
                  </a>
                </li>
                <li class="li-drop">
                  <a class="w-inline-block dd-link" href="faq.html" data-ix="move-txt-dropdown">
                    <div class="dd-txt">F.A.Q Page</div>
                  </a>
                </li>
                <li class="li-drop">
                  <a class="w-inline-block dd-link" href="sitemap.html" data-ix="move-txt-dropdown">
                    <div class="dd-txt">Sitemap</div>
                  </a>
                </li>
                <li class="li-drop">
                  <a class="w-inline-block dd-link" href="left-sidebar.html" data-ix="move-txt-dropdown">
                    <div class="dd-txt">Left Sidebar</div>
                  </a>
                </li>
                <li class="li-drop">
                  <a class="w-inline-block dd-link" href="right-sidebar.html" data-ix="move-txt-dropdown">
                    <div class="dd-txt">Right Sidebar</div>
                  </a>
                </li>
                <li class="li-drop">
                  <a class="w-inline-block dd-link" href="pricing-table.html" data-ix="move-txt-dropdown">
                    <div class="dd-txt">Pricing Table</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="li-menu" data-ix="show-dropdown">
              <a class="w-inline-block link-menu" href="#">
                <div>portfolio</div>
              </a>
              <ul class="w-list-unstyled dropdown-menu">
                <li class="li-drop">
                  <a class="w-inline-block dd-link" href="portfolio-2-columns.html" data-ix="move-txt-dropdown">
                    <div class="dd-txt">Portfolio 2 Columns</div>
                  </a>
                </li>
                <li class="li-drop">
                  <a class="w-inline-block dd-link" href="portfolio-3-columns.html" data-ix="move-txt-dropdown">
                    <div class="dd-txt">Portfolio 3 Columns</div>
                  </a>
                </li>
                <li class="li-drop">
                  <a class="w-inline-block dd-link" href="portfolio-4-columns.html" data-ix="move-txt-dropdown">
                    <div class="dd-txt">Portfolio 4 Columns</div>
                  </a>
                </li>
                <li class="li-drop">
                  <a class="w-inline-block dd-link" href="single-project.html" data-ix="move-txt-dropdown">
                    <div class="dd-txt">Project Page</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="li-menu">
              <a class="w-inline-block link-menu" href="shortcodes.html">
                <div>shortcodes</div>
              </a>
            </li>
            <li class="li-menu" data-ix="show-dropdown">
              <a class="w-inline-block link-menu" href="#">
                <div>Blog</div>
              </a>
              <ul class="w-list-unstyled dropdown-menu">
                <li class="li-drop">
                  <a class="w-inline-block dd-link" href="blog.html" data-ix="move-txt-dropdown">
                    <div class="dd-txt">Blog Large Image</div>
                  </a>
                </li>
                <li class="li-drop">
                  <a class="w-inline-block dd-link" href="blog-page.html" data-ix="move-txt-dropdown">
                    <div class="dd-txt">Blog Page</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="li-menu" data-ix="show-dropdown">
              <a class="w-inline-block link-menu" href="contact.html">
                <div>Contact</div>
              </a>
            </li>
            <li class="li-social">
              <div class="w-clearfix social-wrapper">
                <a class="w-inline-block social-ico facebook tooltip-2" href="#" title="Facebook">
                  <div class="w-embed"><i class="fa fa-facebook"></i>
                  </div>
                </a>
                <a class="w-inline-block social-ico twitter tooltip-2" href="#" title="Twitter">
                  <div class="w-embed"><i class="fa fa-twitter"></i>
                  </div>
                </a>
                <a class="w-inline-block social-ico rss tooltip-2" href="#" title="Rss">
                  <div class="w-embed"><i class="fa fa-rss"></i>
                  </div>
                </a>
              </div>
            </li>
          </ul>
        </nav><!-- End Navigation -->
      </div>
    </div><!-- End Bottom Header -->
  </header>
  <!-- END HEADER -->