<div class="sub-banner">
	<div class="w-container">
		<div class="w-row">
			<div class="w-col w-col-6">
				<h4 class="title-bread">
					{{ title }}
					<span class="sub-title-lighter">
						/ {{ sub_title }}
						<br></span>
				</h4>
			</div>
			<div class="w-col w-col-6 col-right">
				<div class="breadcrumbs">
					{{ links }}
				</div>
			</div>
		</div>
	</div>
</div>
