//### Variables
$mainColor: #b30000; //violet: #781f6f
$secondaryColor: #333333; //gray
$thirdColor: #f3f2f5; //light gray
$fontColor: #717171; //gray

$menuFontSize: 16px;
$menuTopFontSize: 14px;
$subMenuFontSize: 16px;
$download_system_size: 120px;
$copyrightFontSize: 17px;
$pFontSize: 20px;

//### Imports
@import "unikue-template/style.scss";
// @import "~bootstrap/scss/bootstrap";

//### ScandiCraft style
p {
    font-size: $pFontSize;
}

.li-top-right {
    padding: 8px;
}

.main-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

html {
    height: 100%;
    font-size: 16px;
}

.header-logo {
    height: 60px;
    width: 60px;
    margin-top: -10px;
}

.social-ico.youtube:hover {
    background-color: #ff0000;
    color: white;
}

.social-ico.instagram:hover {
    background-color: #fe7d44;
    color: white;
}

.social-ico.discord:hover {
    background-color: #7289da;
    color: white;
}

.divider {
    margin-bottom: 25px;
}

// Alerts (bootstrap)
.bt-alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 0.25rem;
}

.bt-small-alert {
    padding: 0.3rem 1rem;
}

.bt-alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.minecraft-head-skin {
    max-width: 50px;
    max-height: 50px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .login-logo {
        max-width: 60%;
        margin-bottom: -75px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .login-logo {
        max-width: 45%;
        margin-bottom: -75px;
    }
}

$blur_px: 2px;
.modal-blur {
    //  -webkit-filter: blur($blur_px);
    //  -moz-filter: blur($blur_px);
    //   -ms-filter: blur($blur_px);;
    //    -o-filter: blur($blur_px);
    filter: blur($blur_px);
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width: inherit;
    max-width: inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
    height: inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

.badge-account-pbs {
    font-size: 18px !important;
    background-color: $mainColor !important;
}

.badge-account-credit {
    font-size: 18px !important;
    background-color: $secondaryColor !important;
    border-radius: 3px !important;
}

.badge-account-award {
    font-size: 14px !important;
    background-color: $secondaryColor !important;
}

.btn-extra-small {
    padding: 6px 10px;
    font-size: 13px;
}

.scandicraft-play {
    color: $mainColor;
}

.download_system {
    font-size: $download_system_size;
    border: 1px #333333 solid;
    border-radius: 15px;
}

.fa-windows:hover {
    color: white;
    background-color: #3891d6;
    border: none;
}

.fa-apple:hover {
    color: white;
    background-color: #8e949a;
    border: none;
}

.fa-linux:hover {
    color: white;
    background-color: #f7cf1b;
    border: none;
}

.navigation-left {
    float: left;
    text-align: right;
}

.navigation-right {
    float: right;
}

.nav_logo {
    position: absolute;
    z-index: 2;
    width: 35%;
    height: 54%;
    left: 40px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 24px;
}

.nav_logo:hover {
    transform: scale(1.1);
}

//Nav
.navigation.top-left {
    margin-left: -15px;
}

.navigation.top-right {
    margin-right: -10px;
}

.display_if_no_logo {
    visibility: hidden;
}

.marge_if_logo {
    padding-top: 100px;
}

.nav_accueil {
    display: none;
}

@media (max-width: 1180px) {
    @media (min-width: 978px) {
        .navigation.top-left {
            float: left !important;
        }

        .navigation.top-right {
            float: right !important;
        }

        .navigation {
            width: 47% !important;
        }

        .w-container {
            max-width: none;
            margin-left: 10px;
            margin-right: 10px;
        }

        .top-fix-right {
            float: right;
        }
    }

    .nav_accueil {
        display: inline-block;
    }

    .display_if_no_logo {
        visibility: visible;
    }

    .marge_if_logo {
        padding-top: 0px;
    }

    .nav_logo {
        display: none;
    }

    .navigation {
        width: 100%;
        margin-left: 10px !important;
    }

    .hamburger {
        z-index: 100;
    }

    .header-v1 {
        padding-right: 0px;
        padding-left: 0px;
    }

    .navigation.top-left {
        float: none;
        margin-left: 0px;
        top: -45px;
    }

    .navigation.top-right {
        float: none;
        margin-right: 0px;
        margin-top: 0px;
        top: -45px;
    }
}

.jouer_social {
    width: 80px !important;
    height: 80px !important;
    font-size: 40px !important;
    float: none !important;
}

.jouer_social_content {
    margin-top: 20px;
}

.p_jouer {
    margin-bottom: 36px;
}

.link_maintenances {
    color: $mainColor;
    :hover {
        color: $secondaryColor;
    }
}

.link_maintenances:hover {
    color: $secondaryColor;
}

.li-social.jouer {
    display: block;
}

.scandicraft_error {
    padding: 0.75rem 1.25rem;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    margin-bottom: 1rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.disabled {
    opacity: 0.65;
    cursor: not-allowed !important;
}

.text {
    font-size: $pFontSize;
    color: $fontColor;
    line-height: 1.4;
}
