// @import "~bootstrap/scss/bootstrap";
.li-top-right {
    padding: 8px;
}

.main-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

html {
    height: 100%;
}

.header-logo {
    height: 60px;
    width: 60px;
    margin-top: -10px;
}

.social-ico.youtube:hover {
    background-color: #ff0000;
    color: white;
}

.social-ico.discord:hover {
    background-color: #7289da;
    color: white;
}

.divider {
    margin-bottom: 25px;
}