//### Variables
$mainColor: #b30000; //violet: #781f6f

//### Imports
@import 'unikue-template/style.scss';
// @import "~bootstrap/scss/bootstrap";

//### ScandiCraft style
.li-top-right {
    padding: 8px;
}

.main-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

html {
    height: 100%;
}

.header-logo {
    height: 60px;
    width: 60px;
    margin-top: -10px;
}

.social-ico.youtube:hover {
    background-color: #ff0000;
    color: white;
}

.social-ico.instagram:hover {
    background-color: #fe7d44;
    color: white;
}

.social-ico.discord:hover {
    background-color: #7289da;
    color: white;
}

.divider {
    margin-bottom: 25px;
}

// Alerts (bootstrap)
.bt-alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: .25rem;
}

.bt-small-alert {
    padding: .30rem 1.0rem;
}

.bt-alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.minecraft-head-skin {
    max-width: 50px;
    max-height: 50px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .login-logo {
        max-width: 60%;
        margin-bottom: -60px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .login-logo {
        max-width: 45%;
        margin-bottom: -60px;
    }
}