{% extends 'base.html.twig' %}

{% block title %}Compte
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('mc_skins') }}
{% endblock %}

{% block body %}

    <section>

        <section class="w-section section">
            <div class="w-container">
                <div class="w-row">

                    <h3>
                        <div class="d-flex justify-content-between mb-3">
                            <div class="p-2">{{ user.username }}</div>
                            <div class="p-2">
                                <a href="{{ path('crediter') }}">
                                    <span class="badge badge-account-pbs">PBS: 0</span>
                                    <span class="badge badge-account-credit">
										<i class="fas fa-coins"></i>
										Créditer
                                    </span>
                                </a>
                            </div>
                        </div>
                    </h3>

                    <div class="divider" style="margin-bottom: 15px;"></div>

                    {% set tabs = [
                        {
                            name: 'Informations',
                            content: include('user/compte/tabInformations.twig'),
                        },
                        {
                            name: 'Récompenses',
                            notif: 0,
                        },
                        {
                            name: 'Historique',
                        }] %}

                    {% include '_components/tabs/tabs.twig' with { tabs: tabs} %}

                </div>
            </div>
        </section>


    </section>

    {% include 'security/reset_password_modal.html.twig' with {'email': user.email} %}

{% endblock %}