{% extends 'base.html.twig' %}

{% block title %}Maintenances
{% endblock %}
{% block description %}Liste des maintenances en cours et progression développement
{% endblock %}

{% block body %}
	<section class="w-section section">
		<div class="w-container">
			<div class="w-row">

				<div class="w-col col-spc" style="color: gray;margin-top: 50px;">
					<h4>Si vous êtes un ancien joueur, vous devez vous
						<a href="{{ path('app_register') }}">
							<b style="color: #b30000;">réinscrire</b>
						</a>!</h4>
				</div>

				{% include 'maintenance/pourcentage.html.twig' %}

				<!-- maintenance -->
				<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1457190527508329" data-ad-slot="5677125757" data-ad-format="auto" data-full-width-responsive="true"></ins>
				<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
				</script>

			</div>
		</div>
	</section>
{% endblock %}
