{% extends '_components/page/base_page.twig' %}
{% import "_components/html_component.twig" as html_component %}

{% block title %}Présentation{% endblock %}

{% block page_content %}
    <h2>Présentation et historique</h2>

    <div class="html_content">
        <h3 class="presentation_version">ScandiCraft Reborn</h3>
        <p class="presentation_paragraph">
            ScandiCraft ! Vous avez sûrement déjà entendu parler de ce vieux serveur ? Et si je vous disais que sa magie
            n'était pas perdue mais, qu'elle était encore plus forte !
        </p>
        <p class="presentation_paragraph">
            ScandiCraft est né en juin 2014, par ses fondateurs respectifs, BriceFab & Floracq. À l'époque, le serveur
            était très peu connu, avec une communauté qui ne cessait de grandir. Dès ses débuts, notre serveur s’est
            basé sur le mode de jeu PvP/Faction. Pour ses deux premières versions, le serveur était en vanilla mais nous
            finirons par passer le serveur sous launcher obligatoire. En raison de multiples tricheurs qui nuisaient au
            GamePlay et rendaient le serveur injouable. Vous allez me dire, mais pourquoi pas installer un plugin
            d'anti-cheat ? Comme notre serveur étant un pure PvP / Faction, nous voulions offrir une meilleure
            expérience de jeu possible à nos utilisateurs. C'est pourquoi, dès sa version 3, nous avions décidé de
            refonder totalement le serveur et d’y ajouter de fonctionnalités. ScandiCraft a proposé des nouveaux ajouts
            magiques, toujours dans le thème Viking pour un Gameplay encore plus divertissant.
            C'est à partir de là que vous avez vu apparaître la Lazurite, Pyrite puis le fameux Scandium. Enfin, il y’a
            eu de nombreux ajouts tels que le sceptre de réparation et le sceptre de creeper, idéal pour les pillages
            notamment. La V3 a été la version la plus réussie et la plus stable de ScandiCraft. Après plus d'1 an et
            demi, cette version a cumulée un total d'environ 50'000 nouveaux scandinaves et près de 400 joueurs qui se
            battaient pour porter les couleurs de leurs factions et défendre leurs territoires. Ce fût l'apogée d'un
            projet PvP Factions sur le thème Scandinave, nordique. Les Vikings.
        </p>
        <p class="presentation_paragraph">
            En fin de version et, dans la plus grande discrétion, BriceFab et son alcolythe ZeFire_, ont commencé à
            préparer et réfléchir à de nouvelles fonctionnalités plus poussées. À cette époque, étant dépendants de
            développeurs, dont certains qui ont mal réalisé leur mandat. Nous avions pensé que de revoir notre système
            et de développer nos mods avec Forge allait stabiliser certains de nos problèmes. Mais non ! Au contraire,
            ça n'a fait qu'en rajouter. Cela a provoqué le retour des cheateurs, et un déclin pour notre 4ème version.
        </p>
        <p class="presentation_paragraph">
            Peu après cette cet incident, nous avions vraiment eu de la peine à trouver de nouveaux développeurs
            compétants et dévoués pour notre projet. Puis, sans oublier nos cours, qui devenaient de plus en plus dur et
            nous prenaient de plus en plus de temps sur nos loisirs. Car oui, à cette époque, nous étions encore des
            étudiants. C'est pourquoi, nous fûmes gentiment dans l'obligation, de clore nos services. Mais, pendant ce
            temps, le fondateur BriceFab s'inscrit et fit une école d'informatique. Dans le but de, plus tard réouvrir
            son projet qui lui tient à cœur et pouvoir le développer soi-même pour, ne plus jamais rencontrer des
            problèmes liés au développement.
        </p>
        <p class="presentation_paragraph">
            C'est là que nous arrivons à cette nouvelle version. ScandiCraft Reborn, après plus de 3 ans d’attente. Un
            système totalement revu, un Gameplay encore plus magique, où vous y retrouverez le PvP Factions de la V3,
            agrémenté de nouvelles façons de jouer en faction. Redécouvrez ScandiCraft, avec l'un des meilleurs systèmes
            d'Anti-Cheat, un serveur comme les nouveaux et même les plus anciens souhaitent découvrir.
        </p>
        <p class="presentation_paragraph">
            Nous tenons à vous remercier grandement pour votre patience et votre dévouement à notre projet ! ❤
        </p>
        <div class="presentation_signature">Signé le 01.09.2020 par BriceFab et Paincake.</div>
    </div>

    {# survey #}
    <ins class="adsbygoogle" style="display:block;text-align:center;margin-top:68px;" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-1457190527508329" data-ad-slot="5526657954"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

{% endblock %}