{#Affiche une tête d'un skin#}
{% macro render(skin_path, size = 6) %}
    <div
            class="mc-face-viewer-{{ size }}x"
            style="background-image:url('/{{ skin_path }}')">
    </div>
{% endmacro %}