{% extends 'base.html.twig' %}

{# Test: http://localhost:8000/index.php/_error/404 #}
{% block title %}Erreur
{% endblock %}

{% block body %}
	<section class="w-section section">
		<div class="w-container">
			<div class="w-row">

				<h1>Page introuvable</h1>

				<p style="font-size: 16px;">
					La page que vous demandez est introuvable !
					<br/>
					<a class="button" href="{{ path('accueil') }}">Accueil</a>
				</p>

				<!-- 404_403_error -->
				<ins class="adsbygoogle" style="display:block;padding-top:30px;" data-ad-client="ca-pub-1457190527508329" data-ad-slot="9875491724" data-ad-format="auto" data-full-width-responsive="true"></ins>
				<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
				</script>

			</div>
		</div>
	</section>
{% endblock %}
