{% extends 'base.html.twig' %}

{# Test: http://localhost:8000/index.php/_error/403 #}
{% block title %}Erreur
{% endblock %}

{% block body %}
	<section class="w-section section">
		<div class="w-container">
			<div class="w-row">

				<div class="w-col w-col-6">

					<h1>Interdit</h1>

					<p style="font-size: 16px;">
						Vous n'êtes pas autorisé à consulter cette page !
						<br/>
						<a class="button" href="{{ path('accueil') }}">Accueil</a>
					</p>

				</div>
				{#
				{% if status_text is defined %}
					<div class="w-col w-col-6" style="font-size:11px;margin-top:50px;border:1px solid;padding:50px;border-color:lightgray;">
						<code>
							{{ status_text }}
						</code>
					</div>
				{% endif %}
				#}
			</div>
		</div>
	</section>
{% endblock %}
