{% extends 'base.html.twig' %}

{% block title %}Remerciements
{% endblock %}

{% block body %}

	{% set links %}<a href="{{ path('accueil') }}">Accueil</a>
	{% endset %}

	{% include 'blocks/sub-banner.html.twig' with {
			'title': 'Remerciements',
			'sub_title': 'joueurs qui ont aidés ScandiCraft',
			'links': links,
		} %}

	<section class="w-section section">
		<div class="w-container">
			<div class="top-title">
				<div class="title-txt">
					<h5>Buildeurs
						<span class="sub-title-lighter">/ constructeurs volontaires</span>
					</h5>
				</div>
				<div class="divider"></div>
			</div>
			<div>
				<p>
					Ci-dessous vous retrouverez tout les buildeurs de la communauté ScandiCraft qui se sont portés volontaires pour aider notre serveur à se développer. Un grand remerciement à tous pour leur magnifique constructions !
				</p>
			</div>
			<div class="top-spc">
				<div class="w-row">
					<div class="w-col w-col-3">
						<div class="team-wrapper">
							<div class="container">
								<div class="row">
									<div class="col">
										<h5 class="tm-title">Fowlann</h5>
										<div class="sub-title-lighter">Builder</div>
									</div>
									<div class="col">
										<img src="https://crafatar.com/avatars/948fc377-5ac9-482d-b942-182d6ca58357" class="minecraft-head-skin">
									</div>
								</div>
							</div>
							<div class="div-spc">
								<div class="line-team"></div>
								<p>
									Ancien joueur PvP/Faction qui reprend goût au mode de jeu.
								</p>
								<div class="line-team"></div>
								<div class="w-clearfix social-wrapper no-dwn">
									<a class="w-inline-block social-ico twitter tooltip-2" href="//twitter.com/Fowlann_" target="_blank" title="Twitter">
										<div class="w-embed">
											<i class="fab fa-twitter"></i>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="w-col w-col-3">
						<div class="team-wrapper">
							<div class="container">
								<div class="row">
									<div class="col">
										<h5 class="tm-title">Manu_</h5>
										<div class="sub-title-lighter">Builder</div>
									</div>
									<div class="col">
										<img src="https://crafatar.com/avatars/5146cf0f-e60a-41e3-9571-1a1396d13b18" class="minecraft-head-skin">
									</div>
								</div>
							</div>
							<div class="div-spc">
								<div class="line-team"></div>
								<p>
									Manu_ est un joueur multigaming mais aussi un builder minecraft à ses temps perdu.
								</p>
								<div class="line-team"></div>
								<div class="w-clearfix social-wrapper no-dwn">
									<a class="w-inline-block social-ico twitter tooltip-2" href="//twitter.com/CaKWuete_Manu_" target="_blank" title="Twitter">
										<div class="w-embed">
											<i class="fab fa-twitter"></i>
										</div>
									</a>
									<a class="w-inline-block social-ico youtube tooltip-2" href="//youtube.com/channel/UClAPlOCIB8hJbTIJnlr8Dkw" target="_blank" title="Youtube">
										<div class="w-embed">
											<i class="fab fa-youtube"></i>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="w-col w-col-3">
						<div class="team-wrapper">
							<div class="container">
								<div class="row">
									<div class="col">
										<h5 class="tm-title">Art3m0s_</h5>
										<div class="sub-title-lighter">Builder</div>
									</div>
									<div class="col">
										<img src="https://crafatar.com/avatars/9af36882-c317-4a28-a6f0-45a89e7acd5e" class="minecraft-head-skin">
									</div>
								</div>
							</div>
							<div class="div-spc">
								<div class="line-team"></div>
								<p>
									Artemos est un builder et un joueur PvP / Faction.
								</p>
								<div class="line-team"></div>
								<div class="w-clearfix social-wrapper no-dwn">
									<a class="w-inline-block social-ico twitter tooltip-2" href="//twitter.com/Artem0s_" target="_blank" title="Twitter">
										<div class="w-embed">
											<i class="fab fa-twitter"></i>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="w-col w-col-3">
						<div class="team-wrapper">
							<div class="container">
								<div class="row">
									<div class="col">
										<h5 class="tm-title">Yazalgo</h5>
										<div class="sub-title-lighter">Builder</div>
									</div>
									<div class="col">
										<img src="https://crafatar.com/avatars/9af36882-c317-4a28-a6f0-45a89e7acd5e" class="minecraft-head-skin">
									</div>
								</div>
							</div>
							<div class="div-spc">
								<div class="line-team"></div>
								<p>
									Je m'appelle Nathan, je débute dans le motion design et le graphisme.
								</p>
								<div class="line-team"></div>
								<div class="w-clearfix social-wrapper no-dwn">
									<a class="w-inline-block social-ico instagram tooltip-2" href="//instagram.com/ber_nathan/" target="_blank" title="Instagram">
										<div class="w-embed">
											<i class="fab fa-instagram"></i>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br/>
		<div class="w-container">
			<div class="top-title">
				<div class="title-txt">
					<h5>Graphistes
						<span class="sub-title-lighter">/ designeurs volontaires</span>
					</h5>
				</div>
				<div class="divider"></div>
			</div>
			<div>
				<p>
					Ci-dessous vous retrouverez tout les graphistes et designeurs de la communauté ScandiCraft qui se sont portés volontaires pour aider notre serveur à se développer. Un grand remerciement à tous pour leur magnifique conceptions !
				</p>
			</div>
			<div class="top-spc">
				<div class="w-row">
					<div class="w-col w-col-3">
						<div class="team-wrapper">
							<div class="container">
								<div class="row">
									<div class="col">
										<h5 class="tm-title">Hisøka</h5>
										<div class="sub-title-lighter">Logo maker</div>
									</div>
									<div class="col">
										<img src="https://crafatar.com/avatars/984dfe95-2e69-447e-b47f-ea45d3edf571" class="minecraft-head-skin">
									</div>
								</div>
							</div>
							<div class="div-spc">
								<div class="line-team"></div>
								<p>
									Salut moi c'est Issoka, je suis Graphiste, Pack Maker. Je fais un peu de tous en ce qui concerne le graphisme. Je dessine sur tablette graphique depuis plus d'un an et demi en plus de mes horraires de travail IRL le dessin pour moi ne reste qu'une passion avant tous.
								</p>
								<div class="line-team"></div>
								<div class="w-clearfix social-wrapper no-dwn">
									<a class="w-inline-block social-ico discord tooltip-2" href="//discord.gg/Ru7wxvH" target="_blank" title="Discord">
										<div class="w-embed">
											<i class="fab fa-discord"></i>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
