{% extends 'base.html.twig' %}

{% block title %}Forum
{% endblock %}
{% block description %}Espace de discussion entre joueurs Minecraft de la communauté ScandiCraft !
{% endblock %}

{% block body %}
	<section class="w-section section">

		<div class="w-container">

			Forum
			{% for categorie in categories %}

				<div>{{ categorie.name }}</div>
				{% for sub_categorie in categorie.forumSubCategories %}
					<div>{{ sub_categorie.name }}</div>
				{% endfor %}

			{% endfor %}

		</div>

	</section>
{% endblock %}
